/*ROOT*/

:root {
    --black: rgba(57, 61, 63, 1);
    --yellow: rgba(254, 228, 64, 1);
    --blue: rgba(0, 187, 249, 1);
    --pink: rgba(255, 123, 156, 1);
    --darkblue: rgba(0, 3, 165, 1); 
    --off-white: rgba(255, 251, 255, 1);
    --white: rgba(255, 255, 255, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', 'Bangers', Tahoma, sans-serif;
    color: var(--black);
}

html {
    height: 100dvh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2 {
    padding: 5px;
    margin: 10px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: var(--black);
}

h1 a {
    text-decoration: none;
    color: var(--black);
    font-family: Tahoma, sans-serif;
}

h1 a:hover, h1 a:focus {
    color: var(--pink);
}

.page-title {
    margin: 30px 0;
    padding: 20px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(transparent, var(--white)) padding-box,
        linear-gradient(to right, var(--blue), var(--yellow)) border-box;
    border: 3px solid transparent;
    border-radius: 0.4em;
}

.home-text {
    border: 3px solid transparent;
    border-radius: 0.4em;
    margin: 10px 20px;
    background: linear-gradient(transparent, var(--white)) padding-box,
        linear-gradient(to right, var(--blue), var(--yellow)) border-box;
        text-align: center;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;

}

.home-subtext {
    text-align: center;
    padding: 5px;
    margin: 10px 40px;
    font-family: Tahoma, Roboto, san-serif;
    border: 2px solid transparent;
    border-radius: 0.4em;
    background: linear-gradient(var(--off-white), transparent) padding-box,
        linear-gradient(to right, var(--blue), var(--yellow)) border-box;
    padding: 20px 5px 20px;
    word-wrap: normal;
}

/* NAVIGATION */

.nav-cards {
    display: flex;
    padding: 0 4em;
    flex-wrap: wrap;
    align-items: center;
}

.nav-card {
    perspective: 1000px;
    height: 21vh;
    width: 100%;
    margin: 0 0 5px;
    padding: 0%;
    cursor: pointer;

}

.home-card {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    border-radius: 0.4em;
    border: 1.7px solid var(--darkblue);
}

.home-card-front,
.home-card-back {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.4em;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

.home-card-front {
    background: linear-gradient(to right, var(--blue), var(--off-white), var(--yellow));
}

.home-card-front .fas {
    margin-top: 5px;
    font-size: 80px;
    color: var(--pink);
}

.content {
    transform: translateZ(60px);
}

.content h3 {
    font-size: 22px;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: var(--black);
}

.content p {
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    padding: 0 3em;
}

.home-card-back {
    background: linear-gradient(to left, var(--blue), var(--off-white), var(--yellow));
    transform: rotateY(-180deg);
}

.container:hover .home-card {
    transform: rotateY(-180deg);
}

.modal {
    margin-top: 50px;
}

.modal-header {
    background-color: var(--pink);
}

.modal-title {
    color: var(--white);
    text-transform: capitalize;
}

.modal-content {
    background-color: white;
}

.modal-body ol{
    color: var(--black);
    line-height: 1.7em;
    letter-spacing: 0.02em;
    padding: 0 3em;

}

.modal-footer button {
    background-color: var(--pink);
}

.btn-info {
    font-size: 1.25em !important;
    letter-spacing: 2px;
    border: 1px solid var(--darkblue)!important;
    border-radius: 0.4em;
    color: var(--off-white);
    font-family: 'Bangers', sans-serif;
    transition: all 0.3s ease-in-out;
    margin: 10px 0 10px 0;
    background-color: var(--pink)!important;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: var(--off-white);
}

footer h6 {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}

/* Footer */

.btn-outline-dark {
    color: var(--white);
    border-color: var(--blue)!important;
}

.btn > .fab {
    color: var(--pink);
    font-size: 1.5em;
    justify-self: center;
    width: 35px;
}

.btn:hover .fab {
    color: var(--blue);
}

/* GAME */

.game {
    min-height: 100vh;
    margin: 10px 20px;
}
    
.overlay-text {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 100;
        color: var(--white);
        font-family: 'Bangers', cursive;
}

.overlay-text-small {
    font-size: 0.3em;
    color: var(--off-white);
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    -webkit-animation-name: overlay-grow;
    animation-name: overlay-grow;
    -webkit-animation: overlay-grow 500ms forwards;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 8em;
    }
}

#game-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--black);
    margin: 10px 20px;
    padding: 20px 0 20px 0;
    background: linear-gradient(transparent, var(--white)) padding-box,
        linear-gradient(to right, var(--blue), var(--yellow)) border-box;
    border: 3px solid transparent;
    border-radius: 0.4em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background: linear-gradient(to right, var(--blue), var(--yellow));

    font-size: 0.5em;
    font-weight: bold;
    border-radius: 0.4em;
    margin: 10px 20px;
}

.game-info {
    font-family: Arial, san-serif;
    color: var(--white);
    font-size: 3em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
    border: 1px solid transparent !important;
    border-radius: 0.4em;
    
}

.card:hover {
    cursor: url("/assets/images/hand-icon.png"), auto;
}

.card-face {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.4em;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0deg);
}

.card.matched .card-value {
    animation-name: dance;
    -webkit-animation-name: dance;
    animation: dance 1s linear infinite 500ms;
    -webkit-animation: dance 1s linear infinite 500ms;
}

@keyframes dance {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }
}

@-webkit-keyframes dance {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }
}

.card-back {
    background-color: var(--off-white);
    border-color: var(--darkblue);
}

.card-front {
    background-color: var(--black);
    transform: rotateY(180deg);
    border-color: var(--blue);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(0.9);
}

.muscle {
    position: absolute;
    width: 100px;
    height: 100px;
    align-self: flex;
    transform: scale(.9);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .muscle {
    transform: scale(1.1);
}

.card-front:hover .card-value {
    transform: scale(1);
}

#gameHomeBtn, #gameRulesBtn, #gameRestartBtn{
    margin-right: 10px;
    background-color: var(--pink) !important;
        color: var(--off-white) !important;
}

#gameHomeBtn:hover {
    background: linear-gradient(to right, var(--blue), var(--yellow));
}

#gameRulesBtn:hover{
    background: linear-gradient(to left, var(--yellow), var(--pink), var(--yellow));
    color: var(--black)!important;
}

#gameRestartBtn:hover{
        background: linear-gradient(to left, var(--blue), var(--yellow));
}
/* High Scores */
.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    font-size: 2em;
    font-weight: bold;
    color: var(--black);
    margin: 3em 1em;
    text-align: center;
    padding: 10px;
    background: linear-gradient(transparent, var(--white)) padding-box,
        linear-gradient(to right, var(--blue), var(--yellow)) border-box;
    border: 3px solid transparent;
    border-radius: 0.4em;
}

.btn-scores {
    display: flex;
    font-size: 1.75em !important;
    margin: 2em;
    padding: 0.5em 1em !important;
    letter-spacing: 2px;
    border-radius: 0.4em;
    text-decoration: none;
    background-color: var(--blue)!important;
}

/* 404.html */
.error-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Bangers', sans-serif;
    color: var(--off-white);
    font-size: 1em;
}

#pageTitle404 {
    font-size: 4em;
    margin: 0 0 1em 0;
    padding: 0.5em 2em;
}
.btn-404 {
    font-size: 1.75em !important;
    margin-top: 2em;
    padding: 0.5em 1em !important;
    letter-spacing: 2px;
    background: linear-gradient(to left, var(--blue), var(--yellow));
    border: 3px solid transparent;
    border-radius: 0.4em;
    color: var(--white);
    font-family: 'Bangers', sans-serif;
    transition: all 0.3s ease-in-out;
}

/* ——— Media Queries —-*/
@media screen and (min-width: 992px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
        gap: 30px;
    }

    .game-info-container {
        flex-direction: row;
        align-items: center;
    }

    .container {
        flex-basis: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1.5em;
    }
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .page-title {
        font-size: 1.5em;
        margin: 40px 30px;
    }

    .home-text {
        font-size: 1em;
        padding: 5px;
        margin: 20px;
    }

    .home-subtext {
        padding: 5px;
        margin: 20px 40px;
    }

    .nav-cards {
        padding: 1em 2em;
    }

    .home-card-front .fas {
        font-size: 60px;
    }

}